### Lab_7_Inclass_Assignment
- Name:Fatimah Almusawi
- Student ID:9000400

##### Data Integration: Approximate String Matching
1- Implement FROM SCRATCH the approximate string matching functionality using Levenshtein Distance
- Levenshtein Distance between two strings a,b of length |a| and |b| is calculated by creating a matrix of dimensions |a+1|x|b+1| and then filling the matrix by the following equation:<br>
lev<sub>a,b</sub>(i,j) = <br>
a. max(i,j) IF min(i,j)=0<br>
b. minimum of:    
    <ol> <li>lev<sub>a,b</sub>(i-1,j)+1</li>
    <li>lev<sub>a,b</sub>(i,j-1)+1</li>
    <li>lev<sub>a,b</sub>(i-1,j-1)+ 
            *1 if (a<sub>i</sub> != b<sub>j</sub>), 0 otherwise*</li> </ol>

In [1]:
import pandas as pd

In [2]:
def calculate_levenshtein_distance(string_a, string_b):
    ## TODO: Write the functionality that calculates how many edit operations are required to change one string into another
    ## Example: Distance "HONDA" to "HYUNDAI" is 3, where the operations are adding "Y" after H in Honda
    ## Then replacing O with Y, then keeping N, keeping D, keeping A, adding I.
    return 0

In [3]:
def calculate_levenshtein_distance(string_a, string_b):
    # Create a matrix of dimensions (len(string_a)+1) x (len(string_b)+1)
    matrix = [[0] * (len(string_b) + 1) for _ in range(len(string_a) + 1)]

    # Initialize the first row and first column of the matrix
    for i in range(len(string_a) + 1):
        matrix[i][0] = i
    for j in range(len(string_b) + 1):
        matrix[0][j] = j

    # Fill in the matrix
    for i in range(1, len(string_a) + 1):
        for j in range(1, len(string_b) + 1):
            if string_a[i-1] == string_b[j-1]:
                cost = 0
            else:
                cost = 1
            matrix[i][j] = min(
                matrix[i-1][j] + 1,      # Deletion
                matrix[i][j-1] + 1,      # Insertion
                matrix[i-1][j-1] + cost  # Substitution
            )

    # The distance is the value in the bottom right corner of the matrix
    return matrix[-1][-1]

# Example usage
string_a = "HONDA"
string_b = "HYUNDAI"
print(f"The Levenshtein Distance between '{string_a}' and '{string_b}' is {calculate_levenshtein_distance(string_a, string_b)}")

The Levenshtein Distance between 'HONDA' and 'HYUNDAI' is 3

2- Using the implemented Levenshtein's distance, merge the following dataframes based on the closest match for the "Name" attribute. (You will need to find first the matching pairs)

In [3]:
# First Dataframe
data1 = {'ID1': [1, 2, 3, 4],
         'Name1': ['John Smith', 'Alice Johnson', 'Bob Marley', 'David Doe']}
df1 = pd.DataFrame(data1)
# Second Dataframe
data2 = {'ID2': [101, 102, 103, 104,105],
         'Name2': ['Jon Smith', 'Alyce Jonson', 'Robert Marley', 'Dave D.', 'Rob Marly']}
df2 = pd.DataFrame(data2)

In [4]:
import pandas as pd

#  calculate_levenshtein_distance is already defined

# Dataframes
data1 = {'ID1': [1, 2, 3, 4],
         'Name1': ['John Smith', 'Alice Johnson', 'Bob Marley', 'David Doe']}
df1 = pd.DataFrame(data1)

data2 = {'ID2': [101, 102, 103, 104, 105],
         'Name2': ['Jon Smith', 'Alyce Jonson', 'Robert Marley', 'Dave D.', 'Rob Marly']}
df2 = pd.DataFrame(data2)

# Calculate the Levenshtein distance and find the closest matches
closest_matches = []
for i, row1 in df1.iterrows():
    min_distance = float('inf')
    closest_name = None
    closest_id = None
    for j, row2 in df2.iterrows():
        distance = calculate_levenshtein_distance(row1['Name1'], row2['Name2'])
        if distance < min_distance:
            min_distance = distance
            closest_name = row2['Name2']
            closest_id = row2['ID2']
    closest_matches.append((row1['ID1'], closest_id, row1['Name1'], closest_name, min_distance))

# Convert the closest matches to a DataFrame
matches_df = pd.DataFrame(closest_matches, columns=['ID1', 'ID2', 'Name1', 'Closest_Name2', 'Distance'])

# Display the matches and their distances
print(matches_df)

   ID1  ID2          Name1 Closest_Name2  Distance
0    1  101     John Smith     Jon Smith         1
1    2  102  Alice Johnson  Alyce Jonson         2
2    3  105     Bob Marley     Rob Marly         2
3    4  104      David Doe       Dave D.         4

3- Using bookings and yachts csv:
<ol>
    <li> Inspect the bookings and yachts csv files.</li>
    <li> Before merging, make sure to keep only bookings with correctly formatted Yacht_IDs, where the Yacht_ID should be in a format of two characters, followed by 3 numbers.</li>
    <li> Combine both dataframes into one dataframe.</li>
        <li> Make sure that all columns are of correct format where it is expected that: <br>
            a. Title, First_Name, Last_Name, Street_Address, Area, Post_Code, Telephone, Yacht_ID, Yacht_Name, Yacht_Make, Yacht_Ref, Depart_Port, Depart_Country<br>
            b. Cust_ID, Built, Length(m), Cabins, Toilets, Guiests, Day_Rate are Numbers <br>
            c. Depart_Date is Date (its original format id dd/mm/yyyy)</li>
        
</ol>

***Note: Data may contain Latin Characters, You may need to use Latin Encoding, drop data where name contains any characters other than normal alphabetics***

### Step 1: Inspect the bookings and yachts csv files

In [30]:
import pandas as pd

# Load the CSV files with Latin encoding to handle any special characters
bookings = pd.read_csv('csvs/bookings.csv', encoding='latin1')
yachts = pd.read_csv('csvs/yachts_2.csv', encoding='latin1')

# Inspect the first few rows to understand the structure
print(bookings.head())
print(yachts.head())

  Title   First_Name   Last_Name  Cust_ID        Street_Address        Area
0    Mr       Finley       Kosar     1580      27 Culmore Cross      Marden  \
1    Ms      Caitlin    Anderson     1322      34 Portelet Road   Southwell
2    Mr  Christopher  Washington     1323    108 Chatsworth Way  New Milton
3   Mrs       Nicola    Leighton     1330  108 St Maurices Road     Preston
4    Mr        David       Ellis     1338        15 Omega Place    Hatfield

  Post_Code    Telephone Depart_Date  Days Yacht_ID
0  TN21 1ZL  77009001111   12/6/2022    14   SY0182
1   KA8 9LJ  77009001122  26/07/2022     8    SY098
2  BH25 6GY  77009001133    7/5/2022    10    SY026
3   CT3 8BR  77009001152    7/5/2022    14    SY118
4   ML6 0XP  77009001154  23/06/2022    14    SY094
           Yacht_Name           Yacht_Make Yacht_Ref          Depart_Port
0       Adriatic Star  Balandro Calypso 45     SY001  Pavao Island Marina  \
1       Amber Sunrise  Benedetti 37 Mirage     SY002  Pavao Island Marina
2      Anne Elizabeth   Marchal Grande 410     SY003          Port Djurak
3          Aqua Calma  Benedetti 37 Mirage     SY004     Marina Naupotiri
4  Arizona Challenger   Marchal Grande 382     SY005  Pavao Island Marina

  Depart_Country  Built  Length(m)  Cabins  Toilets  Guests  Day_Rate
0        Croatia   2013      13.85       4        2      10       656
1        Croatia   2014      11.30       3        1       8       431
2        Croatia   2016      12.35       3        2       8       486
3         Greece   2007      11.35       3        1       8       377
4        Croatia   2016      11.23       3        2       8       423

### Step 2:Clean the Bookings DataFrame
Filter out bookings with incorrectly formatted Yacht_IDs and ensure names contain only alphabetic characters.
Before merging, make sure to keep only bookings with correctly formatted Yacht_IDs, where the Yacht_ID should be in a format of two characters, followed by 3 numbers.</li>

In [31]:
# Keep only bookings with correctly formatted Yacht_IDs
bookings = bookings[bookings['Yacht_ID'].str.match(r'^[A-Za-z]{2}\d{3}$', na=False)]

# Additionally, drop rows where names contain characters outside the normal alphabetic range
bookings = bookings[bookings['First_Name'].str.isalpha() & bookings['Last_Name'].str.isalpha()]

In [40]:
#here just want to make sure that the Yacht_ID column 
#in the bookings dataframe is of the same type as the Yacht_Ref column in the yachts dataframe 
print(bookings['Yacht_ID'].dtype)
print(yachts['Yacht_Ref'].dtype)

object
object

### Step 3: Combine Both DataFrames
Merge the cleaned bookings DataFrame with the yachts DataFrame based on Yacht_ID.

In [41]:
# Merge the DataFrames using the correct column names
combined_df = pd.merge(bookings, yachts, left_on='Yacht_ID', right_on='Yacht_Ref', how='inner')

# Check the combined DataFrame
print(combined_df.head())

  Title First_Name Last_Name  Cust_ID          Street_Address         Area
0    Ms    Caitlin  Anderson     1322        34 Portelet Road    Southwell  \
1   Mrs     Lauren    George     1358        85 Havant Arcade     Holywell
2    Mr       Evan     Lewis     2719  106 East Dombey Square     Richmond
3    Mr      Henry    Rhodes     3074     125 Chalfont Avenue          Ely
4    Mr      Lucas      Rose     3131         50 Saffron Hill  Petersfield

  Post_Code    Telephone Depart_Date  Days  ...      Yacht_Make Yacht_Ref
0   KA8 9LJ  77009001122  26/07/2022     8  ...  Sevier Luna 42     SY098  \
1  BN17 8EH  77009001171  21/08/2022    14  ...  Sevier Luna 42     SY098
2   CA5 3GN  77009005417    7/5/2022    28  ...  Sevier Luna 42     SY098
3   CT4 7ZT  77009006374    7/6/2022    16  ...  Sevier Luna 42     SY098
4  SA12 4NW  77009006539    5/8/2022    16  ...  Sevier Luna 42     SY098

    Depart_Port Depart_Country Built Length(m)  Cabins  Toilets  Guests
0  Marina Vitus        Croatia  2017      12.8       6        4      12  \
1  Marina Vitus        Croatia  2017      12.8       6        4      12
2  Marina Vitus        Croatia  2017      12.8       6        4      12
3  Marina Vitus        Croatia  2017      12.8       6        4      12
4  Marina Vitus        Croatia  2017      12.8       6        4      12

   Day_Rate
0      1057
1      1057
2      1057
3      1057
4      1057

[5 rows x 22 columns]

Step 4: Ensure Correct Column Formats<br>
now after merging the dataframs,lets ensure all columns are in their correct formats, especially focusing on numeric types and date formatting.

In [42]:
# Convert 'Depart_Date' to datetime format
combined_df['Depart_Date'] = pd.to_datetime(combined_df['Depart_Date'], format='%d/%m/%Y', errors='coerce')

# Convert numeric columns to appropriate types
numeric_columns = ['Cust_ID', 'Built', 'Length(m)', 'Cabins', 'Toilets', 'Guests', 'Day_Rate']
combined_df[numeric_columns] = combined_df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Check the DataFrame to ensure all formats are correct
print(combined_df.dtypes)

Title                     object
First_Name                object
Last_Name                 object
Cust_ID                    int64
Street_Address            object
Area                      object
Post_Code                 object
Telephone                  int64
Depart_Date       datetime64[ns]
Days                       int64
Yacht_ID                  object
Yacht_Name                object
Yacht_Make                object
Yacht_Ref                 object
Depart_Port               object
Depart_Country            object
Built                      int64
Length(m)                float64
Cabins                     int64
Toilets                    int64
Guests                     int64
Day_Rate                   int64
dtype: object

The result shows the data types of each column in the merged DataFrame. It looks like the merge was successful, and the data types are mostly as expected based on our requirements.